/* Datatable.css */

.datatable {
  height: 800px; /* Increase the height */
  padding: 20px;
  background-color: #f0f8ff; /* Light blue background color */
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: #333; /* Dark blue color */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: #4b98ff; /* Light blue color */
      font-size: 16px;
      font-weight: 400;
      border: 1px solid #4b98ff; /* Light blue border */
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .bigTitle {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #15014e; /* Dark blue color */
    text-align: center; /* Center align the big title */
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 50px;
      height: 50px;
      border-radius: 80%;
      object-fit: cover;
      margin-right: 50px;
    }
  }

  .cellWithStatus {
    padding: 15px;
    border-radius: 10px;

    &.active {
      background-color: rgba(75, 152, 255, 0.1); /* Light blue background */
      color: #4b98ff; /* Light blue color */
    }
    &.pending {
      background-color: rgba(75, 152, 255, 0.1); /* Light blue background */
      color: #4b98ff; /* Light blue color */
    }
    &.passive {
      background-color: rgba(75, 152, 255, 0.1); /* Light blue background */
      color: #4b98ff; /* Light blue color */
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: #000000; /* Dark blue color */
      border: 1px dotted #1a73e8; /* Dark blue border */
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: #000000; /* Dark blue color */
      border: 1px dotted #1a73e8; /* Dark blue border */
      cursor: pointer;
    }
  }
}
